.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.colour-input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    background-color: #f0f0f0;
    border-radius: 12px;
  }

  input#color.color-picker {
    border: none;
    margin: 0;
    padding: 9px 9px;
    border-radius: 100%;
  }

  .color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  .color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .color-picker::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}  

.form-group input,
.form-group select {
  border: 1px solid #ddd;
  border-radius: 4px;
  /*height: 36px;*/
  padding: 8px 12px;
  width: 100%;
  /*box-sizing: border-box;*/
  font-size: 1rem;
}
  
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.save-button {
    background-color: #fa8e25;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    margin-left: auto;
}

.delete-button {
    background-color: #f96155;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.save-button:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.delete-button:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.save-button:active {
    opacity: 0.6;
}

.delete-button:active {
    opacity: 0.6;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
} 
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
/* Hide spinners in Firefox */
input[type="number"] {
    appearance: textfield;
}
  
.modal-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hide spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.activity-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.activity-modal {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 16px;
    color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #777;
}

.planned-activity {
    /*background-color: rgba(46, 204, 113, 0.2);*/
    padding-left: 5px;
}