.connect-strava-container {
    font-family: 'Roboto', 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 24px 40px 36px;
    width: 450px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 40px auto;
}

.connect-strava-container h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    color: #1f1f1f;
    text-align: left;
    margin-bottom: 16px;
}

.connect-strava-container p {
    font-size: 16px;
    font-weight: 400;
    color: #444746;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}

.connect-strava-container button {
    background-color: #fa8e25;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin-left: 0;
    text-align: center;
}

.connect-strava-container button:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}