* { 
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar-container {
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
  transition: margin-left 0.3s ease;
}

.dashboard-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hamburger-menu {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.hamburger-menu:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 1rem;
  padding-top: 3rem;
  z-index: 900;
  transition: transform 0.3s ease;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.event-content {
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.4;
  padding: 0 6px;
  width: 100%;
}

.event-content div{
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Style the days of the week */
.fc-col-header-cell {
  background-color: #f0f0f5;
  color: #242428;
}

/* Style the previous and next month cells */
.fc-day-other {
  opacity: 0.5;
}

/* Style the current month cells */
.fc-daygrid-day {
  background-color: #f7f7fa;
  color: #6d6d78;
}

.fc-daygrid-event {
  /*font-size: 12px;*/
  background-color: #f7f7fa;
  color: #1f1f1f;
  font-weight: 500;
}

/* Style for the img element */
.calendar-container img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 2px solid #fff;
}

.fc-icon-chevron-left::before,
.fc-icon-chevron-right::before {
  color: #444746;
}

.form-group input,
.form-group select {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.fc-header-toolbar > div {
  flex: 0 0 auto;
}

.fc-header-toolbar .fc-toolbar-chunk:last-child {
  margin-left: -20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hide spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.fc-header-toolbar,
.fc .fc-scrollgrid {
  padding: 0 20px;
  padding-bottom: 20px;
}

.fc .fc-col-header-cell,
.fc .fc-daygrid-day {
  font-size: 14px;
}

.fc .fc-logo-button,
.fc .fc-button-primary {
  box-shadow: none !important;
}

.fc .fc-logo-button,
.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc .fc-button-primary {
  background-color: transparent;
}

.fc .fc-col-header-cell-cushion {
  font-weight: 500;
}

.fc .fc-daygrid-day-frame {
  min-height: 120px;
  height: auto;
}

.fc .fc-logo-button {
  background-image: url('../public/images/icon/persimmon.gif');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 40px;
  color: #fa8e25 !important;
  cursor: default !important;
  font-size: 22px;
  padding-left: 50px;
}

.fc .fc-scrollgrid {
  min-width: calc(150px * 7 + 40px);
}

.fc td.fc-daygrid-day {
  cursor: pointer;
}

.modal-buttons button[type="button"] {
  background-color: #f0f0f5;
}

.modal-buttons button[type="submit"] {
  background-color: #fa8e25;
  color: #FFF;
}

.fc .fc-logo-button,
.fc .fc-button-primary:disabled {
  background-color: transparent !important;
}

.fc .fc-button.fc-prev-button, 
.fc .fc-button.fc-next-button {
  border-radius: 100%;
  padding: 3px 5px;
}

.fc .fc-toolbar.fc-header-toolbar {
  gap: 120px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0px;
}

.fc .fc-button-primary:focus-visible {
  box-shadow: #fa8e25 0px 0px 0px 0.2rem !important;
}

.fc .fc-logo-button:focus-visible {
  box-shadow: none !important;
}

.fc-daygrid-dot-event {
  border-radius: 6px;
  padding: 0;
}

.fc .fc-daygrid-event {
  margin-top: 2px;
}

.fc .fc-button-primary:hover {
  background-color: #fa8f253F;
}

.fc .fc-button-primary,
.fc .fc-button-primary:hover,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  border-color: transparent;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 8px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 0px;
}

.fc .fc-button.fc-connectStrava-button,
.fc .fc-button.fc-logout-button,
.fc .fc-button.fc-today-button {
  border: 1px solid #747775;
  border-radius: 100px;
  color: #1f1f1f;
  font-weight: 500;
  padding: 10px 25px;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #fa8f257F;
}